//- svg mixin
mixin svgMix(svgClass, name, mOrP)
	svg(class=svgClass)
		if mOrP === "m"
			use(xlink:href='assets/img/medisa/sprite.svg#'+name)
		if mOrP === "p"
			use(xlink:href='assets/img/pyatka/sprite.svg#'+name)


//- breadCrumbs mixin
mixin breadCrumbs(items)
	.breadcrumbs.container
		each i in items
			a(href="#").breadcrumbs__link= i

//- в медисе dual_price & corob_price – соотв. названию
//- в пятке эти переменные указывают на старую и скидочную
mixin product(name, model, imgSrc, dual_price, corob_price, _new, sale)
	//- -viewed – класс для посещённых товаров
	if m === true
		.product
			if (_new === true)
				.product__mark
					.product__mark-item(style="background: #ffcb00") New
			a(href="#").product__img-box
				img.product__img(src= imgSrc, alt= name)
			.product__review
				strong.product__name= name
				p.product__model= model
				.product__price-box
					.product__price.-pair
						b= dual_price + " ₽"
						| за пару
					.product__price.-box
						b= corob_price + " ₽"
						| за короб
			a(href="#").btn.product__more Подробнее
	if p === true
		.product
			if (_new === true)
				.product__mark
					.product__mark-item(style="background: #ffcb00") New
			a(href="#").product__img-box
				img.product__img(src= imgSrc, alt= name)
			.product__review
				strong.product__name= name
				p.product__model= model
				.product__price-box
					if (sale === true)
						.product__price.-sale
							b= dual_price + " ₽"
							span= corob_price + " ₽"
					else
						b 500 ₽
						
			a(href="#").btn.product__more Подробнее

mixin product-listing()
	-
		var products = [
			{name: "Rosconi", model: "Туфли мужские Alkv-27", imgSrc: "assets/img/medisa/products/1.png", dual_price: 750, corob_price: "7 500", _new: true},
			{name: "Rosconi", model: "Туфли мужские 214056", imgSrc: "assets/img/medisa/products/2.png", dual_price: 900, corob_price: "9 000"},
			{name: "MenLine", model: "Туфли мужские Eds-92", imgSrc: "assets/img/medisa/products/3.png", dual_price: "1 000", corob_price: "12 000"},
			{name: "Kovaletto", model: "Босоножки женские Akd-436", imgSrc: "assets/img/medisa/products/4.png", dual_price: 630, corob_price: "6 300"},
			{name: "Rosconi", model: "Туфли мужские Alkv-27", imgSrc: "assets/img/medisa/products/1.png", dual_price: 750, corob_price: "7 500", _new: true},
			{name: "Rosconi", model: "Туфли мужские 214056", imgSrc: "assets/img/medisa/products/2.png", dual_price: 900, corob_price: "9 000"},
			{name: "MenLine", model: "Туфли мужские Eds-92", imgSrc: "assets/img/medisa/products/3.png", dual_price: "1 000", corob_price: "12 000"},
			{name: "Kovaletto", model: "Босоножки женские Akd-436", imgSrc: "assets/img/medisa/products/4.png", dual_price: 630, corob_price: "6 300"},
			{name: "Rosconi", model: "Туфли мужские Alkv-27", imgSrc: "assets/img/medisa/products/1.png", dual_price: 750, corob_price: "7 500", _new: true},
			{name: "Rosconi", model: "Туфли мужские 214056", imgSrc: "assets/img/medisa/products/2.png", dual_price: 900, corob_price: "9 000"},
			{name: "MenLine", model: "Туфли мужские Eds-92", imgSrc: "assets/img/medisa/products/3.png", dual_price: "1 000", corob_price: "12 000"},
			{name: "Kovaletto", model: "Босоножки женские Akd-436", imgSrc: "assets/img/medisa/products/4.png", dual_price: 630, corob_price: "6 300"}
		]
	each product in products
		+product(product.name, product.model, product.imgSrc, product.dual_price, product.corob_price, product._new)

mixin product-basket-inner(half, error)
	if (half === true)
		span.product-basket__part Пол короба
		.product-basket__counter
			.product-basket__count 10
	else
		if (error === true)
			.product-basket__counter.-error
				button.product-basket__count-btn –
				.product-basket__count 10
				button.product-basket__count-btn +
		else
			.product-basket__counter
				button.product-basket__count-btn –
				.product-basket__count 10
				button.product-basket__count-btn +
	span.product-basket__reserve На складе 20 
	if (error === true)
		p.product-basket__absence Нет товара в таком количестве

mixin product-basket(imgSrc, half, error)
	.product-basket
		.product-basket__img-box
			img(src= imgSrc, alt= title).product-basket__img
		.product-basket__name Туфли мужские XXXXXX
		if (half === true)
			.product-basket__counter-box.-half
				+product-basket-inner(half, error)
		else
			.product-basket__counter-box
				+product-basket-inner(half, error)
			
		.product-basket__price 50 000 ₽ х 100 = 
			span 5 000 000 ₽
		button.product-basket__delete Удалить

mixin popup-index()
	-
		var address = [
			{title: 'ул. Стасова 182/1', subTitle: 'район ХБК, территория «ТРК Меридиан»', days: 'Ежедневно', time: 'с 9:00 до 20:00', phone: ' 8 (861) 200-19-20'},
			{title: 'ул. 40-лет Победы, 117', subTitle: 'район Восточно-Кругликовской, напротив гипермарткета «Магнит»', days: 'Ежедневно', time: 'с 9:00 до 20:00', phone: ' 8 (918) 18-168-94'},
			{title: 'ул. Трудовой славы, 23/1', subTitle: 'ГМР, напротив кафе «Русь»', days: 'Ежедневно', time: 'с 9:00 до 20:00', phone: ' 8 (861) 266-85-55'},
			{title: 'ул. Сормовская, 116/1', subTitle: 'КМР, напротив рынка', days: 'Ежедневно', time: 'с 9:00 до 20:00', phone: ' 8 (861) 232-09-08'}
		]
	.popup
		.popup__inner
			p.popup__title Контакты магазинов
			button.popup__close-btn
			.popup__grid
				.popup__grid-head
					.popup__grid-col Адрес магазина
					.popup__grid-col Время работы
					.popup__grid-col Телефон
				.popup__grid-body
					each item in address
						.popup__grid-row
							.popup__grid-col
								p= item.title
								=item.subTitle
							.popup__grid-col
								= item.days
								br
								= item.time
							.popup__grid-col
								| Тел.
								span= item.phone
			a.popup__map-link(href="#") Посмотреть на карте