//- svg mixin
mixin svgMix(svgClass, name, mOrP)
	svg(class=svgClass)
		if mOrP === "m"
			use(xlink:href='assets/img/medisa/sprite.svg#'+name)
		if mOrP === "p"
			use(xlink:href='assets/img/pyatka/sprite.svg#'+name)


//- breadCrumbs mixin
mixin breadCrumbs(items)
	.breadcrumbs.container
		each i in items
			a(href="#").breadcrumbs__link= i

mixin medisa-product(name, model, imgSrc, dual_price, corob_price, _new)
	//- -viewed – класс для посещённых товаров
	.product
		if (_new === true)
			.product__mark
				.product__mark-item(style="background: #ffcb00") New
		a(href="#").product__img-box
			img.product__img(src= imgSrc, alt= name)
		.product__review
			strong.product__name= name
			p.product__model= model
			.product__price-box
				.product__price.-pair
					b= dual_price + " ₽"
					| за пару
				.product__price.-box
					b= corob_price + " ₽"
					| за короб
		a(href="#").product__more Подробнее

mixin medisa-product-listing()
	-
		var products = [
			{name: "Rosconi", model: "Туфли мужские Alkv-27", imgSrc: "assets/img/medisa/products/1.png", dual_price: 750, corob_price: "7 500", _new: true},
			{name: "Rosconi", model: "Туфли мужские 214056", imgSrc: "assets/img/medisa/products/2.png", dual_price: 900, corob_price: "9 000"},
			{name: "MenLine", model: "Туфли мужские Eds-92", imgSrc: "assets/img/medisa/products/3.png", dual_price: "1 000", corob_price: "12 000"},
			{name: "Kovaletto", model: "Босоножки женские Akd-436", imgSrc: "assets/img/medisa/products/4.png", dual_price: 630, corob_price: "6 300"},
			{name: "Rosconi", model: "Туфли мужские Alkv-27", imgSrc: "assets/img/medisa/products/1.png", dual_price: 750, corob_price: "7 500", _new: true},
			{name: "Rosconi", model: "Туфли мужские 214056", imgSrc: "assets/img/medisa/products/2.png", dual_price: 900, corob_price: "9 000"},
			{name: "MenLine", model: "Туфли мужские Eds-92", imgSrc: "assets/img/medisa/products/3.png", dual_price: "1 000", corob_price: "12 000"},
			{name: "Kovaletto", model: "Босоножки женские Akd-436", imgSrc: "assets/img/medisa/products/4.png", dual_price: 630, corob_price: "6 300"},
			{name: "Rosconi", model: "Туфли мужские Alkv-27", imgSrc: "assets/img/medisa/products/1.png", dual_price: 750, corob_price: "7 500", _new: true},
			{name: "Rosconi", model: "Туфли мужские 214056", imgSrc: "assets/img/medisa/products/2.png", dual_price: 900, corob_price: "9 000"},
			{name: "MenLine", model: "Туфли мужские Eds-92", imgSrc: "assets/img/medisa/products/3.png", dual_price: "1 000", corob_price: "12 000"},
			{name: "Kovaletto", model: "Босоножки женские Akd-436", imgSrc: "assets/img/medisa/products/4.png", dual_price: 630, corob_price: "6 300"}
		]
	each product in products
		+medisa-product(product.name, product.model, product.imgSrc, product.dual_price, product.corob_price, product._new)